.count {
    max-width: 21px;
    border: none;
    padding: 7px 0;
    text-align: center;
    border-top: 1px solid #d20909;
    border-bottom: 1px solid #d20909;
}

.plus {
    background: #d20909;
    color: white;
    padding: 8px 6px;
    border: none;
    cursor: pointer;
}

.minus {
    background: #d20909;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.counter-cont {
    margin-right: 11px;
}
