.extra-ingredients{
    padding: 0 0 15px 0;
}

.pizza-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.79);
}

.ingredients-title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.79);
}